<div>

    <div ng-show="drCtrl.errors.id">
        <p style="color: red">
            {{drCtrl.errors.id}}
        </p>
    </div>

    <div class="wrapper_30_70 pad-bottom-12">
        <label>Прізвище:</label>
        <input ng-model="drCtrl.tmpModel.surname">
        <p style="color: red" ng-show="drCtrl.errors.surname">
            {{drCtrl.errors.surname}}
        </p>
    </div>

    <div class="wrapper_30_70 pad-bottom-12">
        <label>Ім'я:</label>
        <input ng-model="drCtrl.tmpModel.name">
        <p style="color: red" ng-show="drCtrl.errors.name">
            {{drCtrl.errors.name}}
        </p>
    </div>

    <div class="wrapper_30_70 pad-bottom-12">
        <label>По-батькові</label>
        <input ng-model="drCtrl.tmpModel.middlename">
    </div>

    <div class="wrapper_30_70 pad-bottom-12">
        <label>Посада:</label>
        <input ng-model="drCtrl.tmpModel.degree">
    </div>

    <div class="wrapper_30_70 pad-bottom-12">
        <label>Кафедра:</label>
        <select ng-model="drCtrl.tmpModel.cathedral_path">
            <option ng-repeat="cathedral in drCtrl.cathedralList"
                    ng-value="cathedral.getPath()">
                {{cathedral.short_name}}
            </option>
        </select>
    </div>
</div>