<!-- Підключаємо контроллер який керуватиме відображенням на цій сторінці. Це тільки один із способів їх підключення-->
<div ng-controller="LecturersCtrl as ctrl">
<div class="w3-container">
    <h1 class="mysyle">
        Викладачі
    </h1>

    <create-lecturer></create-lecturer>

    <div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Прізвище</th>
                <th>Ім'я</th>
                <th>По-батькові</th>
                <th>Посада</th>
                <th>Кафедра</th>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(index, model) in ctrl.modelList|orderBy:'surname'">
                <td>{{index + 1}}</td>
                <td>{{model.surname}}</td>
                <td>{{model.name}}</td>
                <td>{{model.middlename}}</td>
                <td>{{model.degree}}</td>
                <td>{{model.getCathedralModel().short_name}}</td>
                <td>
                    <update-lecturer base-model="model"></update-lecturer>
                    <delete-lecturer base-model="model"></delete-lecturer>
                    <a ng-href="#!/lecturers/{{model.id}}"
                       class="w3-button w3-light-gray w3-tiny w3-padding-small">Перейти</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
