<div ng-controller="LecturersViewCtrl as ctrl">
<div class="w3-container">
    <h1>
        <a href="#!/lecturers">Викладачі</a> > {{ctrl.model.surname+" "+ctrl.model.name+" "+ctrl.model.middlename}}
    </h1>

    <div ng-if="ctrl.model">
        <update-lecturer base-model="ctrl.model"></update-lecturer>
        <delete-lecturer base-model="ctrl.model" redirect-to="#!/lecturers"></delete-lecturer>

        <div>
            <table>
                <tr>
                    <th>Прізвище:</th>
                    <td>{{ctrl.model.surname}}</td>
                </tr>
                <tr>
                    <th>Ім'я:</th>
                    <td>{{ctrl.model.name}}</td>
                </tr>
                <tr>
                    <th>По-батькові:</th>
                    <td>{{ctrl.model.middlename}}</td>
                </tr>
                <tr>
                    <th>Кафедра:</th>
                    <td ng-if="ctrl.model.cathedral_path">
                        <a ng-href="#!/cathedrals/{{ctrl.model.getCathedralModel().id}}">{{ctrl.model.getCathedralModel().full_name}}</a>
                    </td>
                    <td ng-if="!ctrl.model.cathedral_path"> --- Не вказана --- </td>
                </tr>
            </table>
        </div>

        <div>
            <h2>Чисельник (Непарний)</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>День</th>
                    <th>Пара</th>
                    <th>Предмет</th>
                    <th>Тип пари</th>
                    <th>Групи</th>
                    <th>Аудиторія</th>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(index, model) in ctrl.modelListFirst|orderBy:'weekday'">
                    <td>{{index + 1}}</td>
                    <td>{{model.getWeekday().label}}</td>
                    <td>{{model.getNumber().label}}</td>
                    <td>
                        <a ng-href="#!/subjects/{{model.getSubjectModel().id}}">{{model.getSubjectModel().shortname}}</a>
                    </td>
                    <td>{{model.getLessonType().label}}</td>
                    <td>
                    <span ng-repeat="path in model.group_pathes">
                        {{ctrl.groupAndSubGroupFullNames[path]}} <span>, </span>
                    </span>
                    </td>
                    <td>
                        <a ng-href="#!/auditories/{{model.getAuditoryModel().id}}">{{model.getAuditoryModel().fullname}}</a>
                    </td>
                    <td>
                        <update-lesson base-model="model"></update-lesson>
                        <delete-lesson base-model="model"></delete-lesson>
                        <a ng-href="#!/lessons/{{model.id}}" class="w3-button w3-light-gray w3-tiny w3-padding-small ">Перейти</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            <h2>Знаменник (Парний)</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>День</th>
                    <th>Пара</th>
                    <th>Предмет</th>
                    <th>Тип пари</th>
                    <th>Групи</th>
                    <th>Аудиторія</th>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(index, model) in ctrl.modelListSecond|orderBy:'weekday'">
                    <td>{{index + 1}}</td>
                    <td>{{model.getWeekday().label}}</td>
                    <td>{{model.getNumber().label}}</td>
                    <td>
                        <a ng-href="#!/subjects/{{model.getSubjectModel().id}}">{{model.getSubjectModel().shortname}}</a>
                    </td>
                    <td>{{model.getLessonType().label}}</td>
                    <td>
                     <span ng-repeat="path in model.group_pathes">
                        {{ctrl.groupAndSubGroupFullNames[path]}} <span>, </span>
                    </span>
                    </td>
                    <td>
                        <a ng-href="#!/auditories/{{model.getAuditoryModel().id}}">{{model.getAuditoryModel().fullname}}</a>
                    </td>
                    <td>
                        <update-lesson base-model="model"></update-lesson>
                        <delete-lesson base-model="model"></delete-lesson>
                        <a ng-href="#!/lessons/{{model.id}}"class="w3-button w3-light-gray w3-tiny w3-padding-small ">Перейти</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
 </div>
</div>
