<div>

    <div ng-show="drCtrl.errors.id">
        <p style="color: red">
            {{drCtrl.errors.id}}
        </p>
    </div>

    <div class="wrapper_30_70 pad-bottom-12">
        <label>Повна назва:</label>
        <input ng-model="drCtrl.tmpModel.fullname">
        <p style="color: red" ng-show="drCtrl.errors.fullname">
            {{drCtrl.errors.fullname}}
        </p>
    </div>

    <div class="wrapper_30_70 pad-bottom-12">
        <label>Скорочена назва</label>
        <input ng-model="drCtrl.tmpModel.shortname">
        <p style="color: red" ng-show="drCtrl.errors.shortname">
            {{drCtrl.errors.shortname}}
        </p>
    </div>

    <div class="wrapper_30_70 pad-bottom-12">
        <label>Кафедра:</label>
        <select ng-model="drCtrl.tmpModel.cathedral_path">
            <option ng-repeat="cathedral in drCtrl.cathedralList"
                    ng-value="cathedral.getPath()">
                {{cathedral.short_name}}
            </option>
        </select>
    </div>

</div>