<!-- Підключаємо контроллер який керуватиме відображенням на цій сторінці. Це тільки один із способів їх підключення-->
<div ng-controller="SubjectsCtrl as ctrl">
   <div class="w3-container">
    <h1>
        Предмети
    </h1>

    <create-subject></create-subject>

    <div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Повна назва</th>
                <th>Скорочена назва</th>
                <th>Кафедра</th>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(index, model) in ctrl.modelList|orderBy:'fullname'">
                <td>{{index + 1}}</td>
                <td>{{model.fullname}}</td>
                <td>{{model.shortname}}</td>
                <td>{{model.getCathedralModel().short_name}}</td>
                <td>
                    <update-subject base-model="model"></update-subject>
                    <delete-subject base-model="model" ></delete-subject>
                    <a ng-href="#!/subjects/{{model.id}}"
                       class="w3-button w3-light-gray w3-tiny w3-padding-small ">Перейти</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
 </div>
</div>
