<div ng-controller="SubjectsViewCtrl as ctrl">
<div class="w3-container">
    <h1>
        <a href="#!/cathedrals">Предмети</a> > {{ctrl.model.fullname}}
    </h1>

    <div ng-if="ctrl.model">
        <update-subject base-model="ctrl.model"></update-subject>
        <delete-subject base-model="ctrl.model" redirect-to="#!/subjects"></delete-subject>

        <div>
            <table>
                <tr>
                    <th>Повна назва:</th>
                    <td>{{ctrl.model.fullname}}</td>
                </tr>
                <tr>
                    <th>Скорочена назва:</th>
                    <td>{{ctrl.model.shortname}}</td>
                </tr>

                <tr>
                    <th>Кафедра:</th>
                    <td ng-if="ctrl.model.cathedral_path">
                        <a ng-href="#!/cathedrals/{{ctrl.model.getCathedralModel().id}}">{{ctrl.model.getCathedralModel().full_name}}</a>
                    </td>
                    <td ng-if="!ctrl.model.cathedral_path"> --- Не вказана ---</td>
                </tr>
            </table>
        </div>

    </div>

</div>
</div>
