<!DOCTYPE html>

<!--
Загрузка всієї систкми починається з файлу index.html. Це глобальна точка входу.
Тут підключаються всі необхідні js бібліотеки і уже після цього сторінка "оживає".
При підключенні будь якого файлу js він зразу виконується, тому їх порядок підключення є важливий
-->

<!--
ng-app="myApp" - це вказує на частину сторінки де працює бібліотека AngularJs.
Все що починається на ng-* стосується AngularJs.
-->
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- TODO: незабудь перейменувати назву сайту. Це надпис на вкладці браузера-->
    <title>Розклад кафедри ІТ</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>

<!--
AngularJS працює з Модулями, Контроллерами та Диретивами. Є ще й інші елементи, але вони тут не використовуються.
AppController - це основний контроллер з основного модуля. Він описаний в app.js. Контроллер це просто функція із певним способом використання.
appCtrl - скорочена назва контроллера щоб можна було звертатися до його змінних
-->
<body ng-controller="AppController as appCtrl">

<div hidden>
    <!--
        Тут використовуються дві JS бібліотеки: AngularJs та Firebase. Вони не можуть напряму нормально співпрацювати.
        AngularJs не реагуватиме динамічно на зміну даних через функції Firebase.
        Поля нижче своєрідний хак, щоб щоб якось це синхронізувати.
     -->
    <div>
        Lecturer: <input ng-model="global.globalChangeTriggerLecturer" id="globalChangeTriggerLecturer">
    </div>
    <div>
        Cathedral: <input ng-model="global.globalChangeTriggerCathedral" id="globalChangeTriggerCathedral">
    </div>
    <div>
        Group: <input ng-model="global.globalChangeTriggerGroup" id="globalChangeTriggerGroup">
    </div>
    <div>
        LessonPlan: <input ng-model="global.globalChangeTriggerLessonPlan" id="globalChangeTriggerLessonPlan">
    </div>
    <div>
        Auditory: <input ng-model="global.globalChangeTriggerAuditory" id="globalChangeTriggerAuditory">
    </div>
    <div>
        Subgroup: <input ng-model="global.globalChangeTriggerSubgroup" id="globalChangeTriggerSubgroup">
    </div>
    <div>
        Subject: <input ng-model="global.globalChangeTriggerSubject" id="globalChangeTriggerSubject">
    </div>
</div>


<div class="w3-bar w3-green">
    <!--
     ng-if - перевіряє чи правильна умова, і якщо так, то відбудовує блок.
     Для зареєстрованих і незареєстрованих користувачів виводимо різне меню
    -->
    <ul ng-if="!appCtrl.isAuth">
        <!-- Без поняття для чого у кожній url приставка #!, але так працює і було в прикладах. Можна налаштувати url і без неї -->
        <a href="#!/auth" class="w3-bar-item w3-button w3-xlarge">Авторизація</a>
    </ul>
    <ul ng-if="appCtrl.isAuth">
        <!-- Список основних модулів -->
        <a href="#!/auth" class="w3-bar-item w3-button w3-xlarge">Профіль</a>
        <a href="#!/cathedrals" class="w3-bar-item w3-button w3-xlarge">Кафедри</a>
        <a href="#!/lecturers" class="w3-bar-item w3-button w3-xlarge">Викладачі</a>
        <a href="#!/auditories" class="w3-bar-item w3-button w3-xlarge">Аудиторії</a>
        <a href="#!/subjects" class="w3-bar-item w3-button w3-xlarge">Предмети</a>
        <a href="#!/groups" class="w3-bar-item w3-button w3-xlarge">Групи</a>
        <a href="#!/lessons" class="w3-bar-item w3-button w3-xlarge">Заняття</a>
    </ul>
</div>

<div ng-view>
    <!-- Сюди підставляється контент з різних модулів-->
</div>


<!-- #Firebase JS# -->
<script src="https://www.gstatic.com/firebasejs/6.1.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.1.0/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.1.0/firebase-auth.js"></script>
<!-- Користувацькі налаштування FB. Перевір чи існує файл  firebase/firebaseConfig.js  -->
<script src="firebase/firebaseConfig.js"></script>
<script src="firebase/firebase.js"></script>

<!-- #Angular# -->
<script src="lib/angular.js"></script>
<script src="lib/angular-route.js"></script>

<!-- Деякі глобальні функції, щоб зменшити дублювання коду. Переважно для роботи з масивами -->
<script src="lib/customLFunctions.js"></script>

<!-- Models -->
<!--
FB не забезпечує жодної цілісності чи структури даних.
Тому в файлах нижче (Моделях) описані поля і назви колекцій,
а також звязки між ними
-->
<script src="models/CathedralModel.js"></script>
<script src="models/LecturerModel.js"></script>
<script src="models/AuditoryModel.js"></script>
<script src="models/SubjectModel.js"></script>
<script src="models/GroupModel.js"></script>
<script src="models/LessonPlanModel.js"></script>
<script src="models/SubgroupModel.js"></script>

<!-- Запускаємо AngularJs і творимо магію  -->
<script src="app.js"></script>

<!-- Після запуску оосновного модуля можна підключати і всі інші. Модулі починають читатись з main.js-->
<script src="modules/auth/main.js"></script>

<script src="modules/cathedrals/main.js"></script>
<script src="modules/cathedrals/create.js"></script>
<script src="modules/cathedrals/update.js"></script>
<script src="modules/cathedrals/delete.js"></script>

<script src="modules/lecturers/main.js"></script>
<script src="modules/lecturers/create.js"></script>
<script src="modules/lecturers/update.js"></script>
<script src="modules/lecturers/delete.js"></script>

<script src="modules/auditories/main.js"></script>
<script src="modules/auditories/create.js"></script>
<script src="modules/auditories/update.js"></script>
<script src="modules/auditories/delete.js"></script>

<script src="modules/subjects/main.js"></script>
<script src="modules/subjects/create.js"></script>
<script src="modules/subjects/update.js"></script>
<script src="modules/subjects/delete.js"></script>

<script src="modules/groups/main.js"></script>
<script src="modules/groups/create.js"></script>
<script src="modules/groups/update.js"></script>
<script src="modules/groups/delete.js"></script>

<script src="modules/subgroups/table.js"></script>
<script src="modules/subgroups/create.js"></script>
<script src="modules/subgroups/update.js"></script>
<script src="modules/subgroups/delete.js"></script>

<script src="modules/lessons/main.js"></script>
<script src="modules/lessons/create.js"></script>
<script src="modules/lessons/update.js"></script>
<script src="modules/lessons/delete.js"></script>
<script src="modules/lessons/groupSelector.js"></script>


</body>
</html>
