

-------------------------------
.modal-window {
    background-color: lightgray;
}

.wrapper_30_70 {
    display: grid;
    grid-template-columns: 30% 70%;
}

.pad-bottom-12 {
    padding-bottom: 12px;
}

.pad-bottom-5 {
    padding-bottom: 5px;
}

.modal-base-padding {
    padding-top: 5px;
    padding-bottom: 18px;
    padding-left: 18px;
    padding-right: 18px;
}

-------------------------------