h1{color: #5e8d6c}

.table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 14px;
}

th {
    background: rgba(154, 118, 95, 0.88);
    color: white;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
th:first-child, td:first-child {
    text-align: left;
}
th:last-child {
    border-right: none;
}
td {
    padding: 10px 20px;
    background: #459f50;
}
tr td:last-child {
    border-right: none;
}

-------------------------------
.table-view {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    margin-left: 10px;
    margin-bottom:20px;
}
