<div ng-controller="GroupsCtrl as ctrl">
   <div class="w3-container">
    <h1 class="mysyle">
        Групи
    </h1>

    <create-group></create-group>

    <div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Назва</th>
                <th>Кількість студентів</th>
                <th>Кафедра</th>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(index, model) in ctrl.modelList|orderBy:'name'">
                <td>{{index + 1}}</td>
                <td>{{model.name}}</td>
                <td>{{model.students_count}}</td>
                <td>{{model.getCathedralModel().short_name}}</td>
                <td>
                    <update-group base-model="model"></update-group>
                    <delete-group  base-model="model"></delete-group>
                    <a ng-href="#!/groups/{{model.id}}"
                       class="w3-button w3-light-gray w3-tiny w3-padding-small ">Перейти</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
 </div>
</div>