<!-- Стиль style=" all: initial;" потрібен для того,  щоб все що в div нище стилізувалояс за власними правилами
 не зважаючи на стилі батьків-->
<div style=" all: initial;">

    <button class="w3-btn w3-green w3-border w3-border-green w3-round-large w3-card-4"
            style= "margin-bottom:20px"
            ng-click="drCtrl.openForm()" >
        <b>Створити</b>
    </button>

    <div id="{{drCtrl.formId}}" class="w3-modal" >
        <div class="w3-modal-content" style="margin-bottom: 200px;">
            <div class="modal-window modal-base-padding">
                <h3 class="pad-bottom-5">
                    <span>Створити</span>
                    <span ng-click="drCtrl.closeForm()" class="w3-button w3-display-topright">&times;</span>
                </h3>

                <div ng-include="drCtrl.contentPath"></div>

                <br>
                <div>
                    <button ng-click="drCtrl.confirm()">
                        <span>Створити</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>