<div style=" all: initial;">

    <button ng-click="drCtrl.openForm()" class="w3-button w3-light-gray w3-tiny w3-padding-small">
        Видалити
    </button>

    <div id="{{drCtrl.formId}}" class="w3-modal">
        <div class="w3-modal-content">
            <div class="modal-base-padding" >
                <h3 class="pad-bottom-5">
                    <span>Видалити</span>
                    <span ng-click="drCtrl.closeForm()" class="w3-button w3-display-topright">&times;</span>
                </h3>

                <div ng-include="drCtrl.contentPath"></div>

                <br>
                <div>
                    <button ng-show="drCtrl.canDelete" ng-click="drCtrl.confirm()">Видалити</button>
                </div>
            </div>
        </div>
    </div>

</div>


