
<div style=" all: initial;">

    <button class="w3-button w3-light-gray w3-tiny w3-padding-small"
            ng-click="drCtrl.openForm()" >
        Редагувати
    </button>

    <div id="{{drCtrl.formId}}" class="w3-modal" >
        <div class="w3-modal-content" style="margin-bottom: 200px;">
            <div class="modal-window modal-base-padding">
                <h3 class="pad-bottom-5">
                    <span>Редагувати</span>
                    <span ng-click="drCtrl.closeForm()" class="w3-button w3-display-topright">&times;</span>
                </h3>

                <div ng-include="drCtrl.contentPath"></div>

                <br>
                <div>
                    <button ng-click="drCtrl.confirm()">
                        <span>Редагувати</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>