<div>

    <div ng-show="drCtrl.errors.id">
        <p style="color: red" >
            {{drCtrl.errors.id}}
        </p>
    </div>

    <div class="wrapper_30_70 pad-bottom-12">
        <label>Повна назва:</label>
        <input ng-model="drCtrl.tmpModel.full_name">
        <p style="color: red" ng-show="drCtrl.errors.full_name">
            {{drCtrl.errors.full_name}}
        </p>
    </div>
    <div class="wrapper_30_70 pad-bottom-12">
        <label>Абривіатура:</label>
        <input ng-model="drCtrl.tmpModel.short_name">
        <p style="color: red" ng-show="drCtrl.errors.short_name">
            {{drCtrl.errors.short_name}}
        </p>
    </div>

</div>