<div ng-controller="CathedralsCtrl as ctrl">
  <div class="w3-container">
    <h1 class="mysyle">
        Кафедри
    </h1>

    <create-cathedral></create-cathedral>

    <div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Повна назва</th>
                <th>Абривіатура</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(index, model) in ctrl.modelList|orderBy:'full_name'">
                <td>{{index + 1}}</td>
                <td>{{model.full_name}}</td>
                <td>{{model.short_name}}</td>
                <td>
                    <update-cathedral base-model="model"></update-cathedral>
                    <delete-cathedral base-model="model"></delete-cathedral>

                    <a ng-href="#!/cathedrals/{{model.id}}"
                       class="w3-button w3-light-gray w3-tiny w3-padding-small ">
                        Перейти
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
