<div  ng-controller="CathedralsViewCtrl as ctrl">
<div class="w3-container">
    <h1>
        <a href="#!/cathedrals">Кафедри</a> > {{ctrl.model.short_name}}
    </h1>

    <div ng-if="ctrl.model">
        <update-cathedral base-model="ctrl.model"></update-cathedral>
        <delete-cathedral base-model="ctrl.model" redirect-to="#!/cathedrals"></delete-cathedral>

        <table>
            <tr>
                <th>Повна назва:</th>
                <td>{{ctrl.model.full_name}}</td>
            </tr>
            <tr>
                <th>Абривіатура:</th>
                <td>{{ctrl.model.short_name}}</td>
            </tr>
        </table>
    </div>

    <div>
        <h2>
            Викладачі
        </h2>

        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Прізвище</th>
                <th>Ім'я</th>
                <th>По-батькові</th>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(index, model) in ctrl.lecturerList">
                <td>{{index + 1}}</td>
                <td>{{model.surname}}</td>
                <td>{{model.name}}</td>
                <td>{{model.middlename}}</td>
                <td>
                    <a ng-href="#!/lecturers/{{model.id}}"class="w3-button w3-light-gray w3-tiny w3-padding-small ">Перейти</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
