<div>

    <div ng-show="drCtrl.errors.id">
        <p style="color: red">
            {{drCtrl.errors.id}}
        </p>
    </div>

    <div>
        Ви впевнені, що хочете видалити обране заняття з розкладу?
    </div>

</div>