<div>

    <div ng-show="drCtrl.errors.id">
        <p style="color: red">
            {{drCtrl.errors.id}}
        </p>
    </div>

    <div class="wrapper_30_70 pad-bottom-12">
        <label>Тиждень:</label>
        <select ng-model="drCtrl.tmpModel.weekparity">
            <option ng-repeat="type in drCtrl.weekparityList"
                    ng-value="type.value">
                {{type.label}}
            </option>
        </select>
        <p style="color: red" ng-show="drCtrl.errors.weekparity">
            {{drCtrl.errors.weekparity}}
        </p>
    </div>

    <div class="wrapper_30_70 pad-bottom-12">
        <label>День:</label>
        <select ng-model="drCtrl.tmpModel.weekday">
            <option ng-repeat="type in drCtrl.weekdayList"
                    ng-value="type.value">
                {{type.label}}
            </option>
        </select>
        <p style="color: red" ng-show="drCtrl.errors.weekday">
            {{drCtrl.errors.weekday}}
        </p>
    </div>

    <div class="wrapper_30_70 pad-bottom-12">
        <label>Пара:</label>
        <select ng-model="drCtrl.tmpModel.number">
            <option ng-repeat="type in drCtrl.numberList"
                    ng-value="type.value">
                {{type.label}}
            </option>
        </select>
        <p style="color: red" ng-show="drCtrl.errors.number">
            {{drCtrl.errors.number}}
        </p>
    </div>

    <div class="wrapper_30_70 pad-bottom-12">
        <label>Предмет:</label>
        <select ng-model="drCtrl.tmpModel.subject_path">
            <option ng-repeat="subject in drCtrl.subjectList"
                    ng-value="subject.getPath()">
                {{subject.fullname}}
            </option>
        </select>
        <p style="color: red" ng-show="drCtrl.errors.subject_path">
            {{drCtrl.errors.subject_path}}
        </p>
    </div>

    <div class="wrapper_30_70 pad-bottom-12">
        <label>Тип пари:</label>
        <select ng-model="drCtrl.tmpModel.lessontype">
            <option ng-repeat="type in drCtrl.lessonTypeList"
                    ng-value="type.value">
                {{type.label}}
            </option>
        </select>
        <p style="color: red" ng-show="drCtrl.errors.lessontype">
            {d{rCtrl.errors.lessontype}}
        </p>
    </div>

    <div class="wrapper_30_70 pad-bottom-12">
        <label>Аудиторія:</label>
        <select ng-model="drCtrl.tmpModel.auditory_path">
            <option ng-repeat="auditory in drCtrl.auditoryList"
                    ng-value="auditory.getPath()">
                {{auditory.fullname}}
            </option>
        </select>
        <p style="color: red" ng-show="drCtrl.errors.auditory_path">
            {{drCtrl.errors.auditory_path}}
        </p>
    </div>

    <div class="wrapper_30_70 pad-bottom-12">
        <label>Викладач:</label>
        <select ng-model="drCtrl.tmpModel.lecturer_path">
            <option ng-repeat="lecturer in drCtrl.lecturerList"
                    ng-value="lecturer.getPath()">
                {{lecturer.surname}}
                {{lecturer.name}}
            </option>
        </select>
        <p style="color: red" ng-show="drCtrl.errors.lecturer_path">
            {{drCtrl.errors.lecturer_path}}
        </p>
    </div>

    <div class="wrapper_30_70 pad-bottom-12">
        <label>Коментар:</label>
        <textarea ng-model="drCtrl.tmpModel.comment"></textarea>
        <p style="color: red" ng-show="drCtrl.errors.comment">
            {{drCtrl.errors.comment}}
        </p>
    </div>

    <div>
        <label>Групи:</label>
        <group-selector ng-model="drCtrl.tmpModel.group_pathes"></group-selector>
        <p style="color: red" ng-show="drCtrl.errors.group_pathes">
            {{drCtrl.errors.group_pathes}}
        </p>
    </div>

</div>