<div>
    
    <div style="overflow-y: auto">

        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Назва</th>
                <th>Кількіст студентів</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat-start="(index, groupModel) in gSelectorCtrl.groupList|orderBy: 'name'">
                <th>{{index + 1}}</th>
                <th>{{groupModel.name}}</th>
                <th>{{groupModel.students_count}}</th>
                <th><input type="checkbox" ng-model="gSelectorCtrl.selectedItems[groupModel.getPath()]"></th>
                <td>
                    <button ng-click="gSelectorCtrl.showHideSubgroups(groupModel.id)"
                            ng-show="(gSelectorCtrl.showSubgroups[groupModel.id]!=1)">
                        Show/Hide
                    </button>
                </td>
            </tr>
            <tr ng-repeat="(index2, subGroup) in groupModel.getSubGroups()|orderBy: 'name'"
                ng-show="gSelectorCtrl.showSubgroups[groupModel.id]==3">
                <th></th>
                <th>{{subGroup.name}}</th>
                <th>{{subGroup.students_count}}</th>
                <th><input type="checkbox" ng-model="gSelectorCtrl.selectedItems[subGroup.getPath()]"></th>
                <td></td>
            </tr>
            <tr ng-repeat-end="" hidden></tr>
            </tbody>
        </table>

    </div>

</div>