<div ng-controller="LessonsCtrl as ctrl">
  <div class="w3-container">
    <h1 class="mysyle">
        Заняття
    </h1>

    <create-lesson></create-lesson>

    <div>
        <h2>Чисельник (Непарний)</h2>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>День</th>
                <th>Пара</th>
                <th>Предмет</th>
                <th>Тип пари</th>
                <th>Групи</th>
                <th>Аудиторія</th>
                <th>Викладач</th>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(index, model) in ctrl.modelListFirst|orderBy:['weekday', 'number']">
                <td>{{index + 1}}</td>
                <td>{{model.getWeekday().label}}</td>
                <td>{{model.getNumber().label}}</td>
                <td>
                    <a ng-href="#!/subjects/{{model.getSubjectModel().id}}">{{model.getSubjectModel().shortname}}</a>
                </td>
                <td>{{model.getLessonType().label}}</td>
                <td>
                    <span ng-repeat="path in model.group_pathes">
                        {{ctrl.groupAndSubGroupFullNames[path]}} <span>, </span>
                    </span>
                </td>
                <td>
                    <a ng-href="#!/auditories/{{model.getAuditoryModel().id}}">{{model.getAuditoryModel().fullname}}</a>
                </td>
                <td>
                    <a ng-href="#!/lecturers/{{model.getLecturerModel().id}}">{{model.getLecturerModel().getFullName()}}</a>
                </td>

                <td>
                    <update-lesson base-model="model"></update-lesson>
                    <delete-lesson base-model="model"></delete-lesson>
                    <a ng-href="#!/lessons/{{model.id}}" class="w3-button w3-light-gray w3-tiny w3-padding-small">Перейти</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h2>Знаменник (Парний)</h2>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>День</th>
                <th>Пара</th>
                <th>Предмет</th>
                <th>Тип пари</th>
                <th>Групи</th>
                <th>Аудиторія</th>
                <th>Викладач</th>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(index, model) in ctrl.modelListSecond|orderBy:['weekday', 'number']">
                <td>{{index + 1}}</td>
                <td>{{model.getWeekday().label}}</td>
                <td>{{model.getNumber().label}}</td>
                <td>
                    <a ng-href="#!/subjects/{{model.getSubjectModel().id}}">{{model.getSubjectModel().shortname}}</a>
                </td>
                <td>{{model.getLessonType().label}}</td>
                <td>
                     <span ng-repeat="path in model.group_pathes">
                        {{ctrl.groupAndSubGroupFullNames[path]}} <span>, </span>
                    </span>
                </td>
                <td>
                    <a ng-href="#!/auditories/{{model.getAuditoryModel().id}}">{{model.getAuditoryModel().fullname}}</a>
                </td>
                <td>

                    <a ng-href="#!/lecturers/{{model.getLecturerModel().id}}">{{model.getLecturerModel().getFullName()}}</a>
                </td>

                <td>
                    <update-lesson base-model="model"></update-lesson>
                    <delete-lesson base-model="model"></delete-lesson>
                    <a ng-href="#!/lessons/{{model.id}}" class="w3-button w3-light-gray w3-tiny w3-padding-small">Перейти</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>
