<div ng-controller="LessonsViewCtrl as ctrl">
<div class="w3-container">
    <h1>
        <a href="#!/lessons">Заняття</a> > (Детальна інформація)
    </h1>

    <div ng-if="ctrl.model">

        <update-lesson base-model="ctrl.model"></update-lesson>
        <delete-lesson base-model="ctrl.model" redirect-to="#!/lessons"></delete-lesson>
        <div>
            <table>
                <tr>
                    <th>Тиждень:</th>
                    <td>{{ctrl.model.getWeekparity().label}}</td>
                </tr>
                <tr>
                    <th>День:</th>
                    <td>{{ctrl.model.getWeekday().label}}</td>
                </tr>
                <tr>
                    <th>Пара:</th>
                    <td>{{ctrl.model.getNumber().label}}</td>
                </tr>
                <tr>
                    <th>Предмет:</th>
                    <td>
                        <a ng-href="#!/subjects/{{model.getSubjectModel().id}}">{{ctrl.model.getSubjectModel().shortname}}</a>
                    </td>
                </tr>
                <tr>
                    <th>Тип пари:</th>
                    <td>{{ctrl.model.getLessonType().label}}</td>
                </tr>
                <tr>
                    <th>Аудиторія:</th>
                    <td>
                        <a ng-href="#!/auditories/{{ctrl.model.getAuditoryModel().id}}">{{ctrl.model.getAuditoryModel().fullname}}</a>
                    </td>
                </tr>
                <tr>
                    <th>Викладач:</th>
                    <td>
                        <a ng-href="#!/lecturers/{{ctrl.model.getLecturerModel().id}}">{{ctrl.model.getLecturerModel().getFullName()}}</a>
                    </td>
                </tr>
                <tr>
                    <th>Коментар:</th>
                    <td>{{ctrl.model.comment}}</td>
                </tr>
            </table>
        </div>

        <div>
            <h2>Групи та підгрупи</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Тип</th>
                    <th>Назва</th>
                    <th>Кількість студентів</th>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(index, item) in ctrl.groupAndSubgroupList | orderBy: 'full_name'" >
                    <td>{{index + 1}}</td>
                    <td>
                        <span ng-if="item.is_group">Група</span>
                        <span ng-if="!item.is_group">Підгрупа</span>
                    </td>
                    <td>{{item.full_name}}</td>
                    <td>{{item.model.students_count}}</td>
                    <td>
                        <a ng-href="#!/groups/{{item.group_id}}"
                           class="w3-button w3-light-gray w3-tiny w3-padding-small ">Перейти</a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>
</div>
