<div ng-controller="AuthCtrl as ctrl">
<div class="w3-container">
    <div ng-if="ctrl.USER">
        <h1>Профіль</h1>
        <p>Ви авторизовані як {{ctrl.USER.email}}</p>
        <button ng-click="ctrl.logout()" class="w3-button w3-green w3-btn w3-round-large">Вийти</button>
    </div>

    <div ng-if="!ctrl.USER">
        <h1>Авторизація</h1>

        <div>

            <p style="background-color: red">{{ctrl.errorMsg}}</p>

            <div>
                <label style="padding-right: 10px">Логін (Email): </label>
                <input type="text" name="login" ng-model="ctrl.login">
            </div>
            <div style="padding-top: 10px">
                <label style="padding-right: 54px">Пароль: </label>
                <input type="password" name="password" ng-model="ctrl.password">
            </div>

            <button ng-click="ctrl.submitLogin()" class="w3-button w3-green w3-btn w3-round-large">Вхід</button>
        </div>
    </div>
 </div>
</div>