<div>

    <div ng-show="drCtrl.errors.id">
        <p style="color: red">
            {{drCtrl.errors.id}}
        </p>
    </div>

    <div ng-if="drCtrl.canDelete">
        <p>Ви впевнені, що хочете видалити підгрупу "{{drCtrl.tmpModel.name}}"?</p>
    </div>

    <div ng-if="!drCtrl.canDelete">
        <p>Ви не можете видалити підгрупу "{{drCtrl.tmpModel.getPrettyItemName()}}", тому що вона використовується в інших
            модулях.</p>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Назва</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(index, item) in drCtrl.usedInList">
                <th>{{index + 1}}</th>
                <th>{{item.model_name}}</th>
                <th>{{item.item_name}}</th>
                <th><a ng-href="{{item.url}}">Перейти</a></th>
            </tr>
            </tbody>
        </table>
    </div>

</div>