<div>

    <div ng-show="drCtrl.errors.id">
        <p style="color: red">
            {{drCtrl.errors.id}}
        </p>
    </div>

    <div class="wrapper_30_70 pad-bottom-12">
        <label>Назва:</label>
        <input ng-model="drCtrl.tmpModel.name">
        <p style="color: red" ng-show="drCtrl.errors.name">
            {{drCtrl.errors.name}}
        </p>
    </div>

    <div class="wrapper_30_70 pad-bottom-12">
        <label>Кількість студентів:</label>
        <input ng-model="drCtrl.tmpModel.students_count">
    </div>

    <div class="wrapper_30_70 pad-bottom-12">
        <label>Коментар:</label>
        <textarea ng-model="drCtrl.tmpModel.comment"></textarea>
        <p style="color: red" ng-show="drCtrl.errors.comment">
            {{drCtrl.errors.comment}}
        </p>
    </div>

</div>