<div>

    <h1 class="mysyle">
        Підгрупи
    </h1>

    <create-sub-group group-model="tblCtrl.groupModel"></create-sub-group>

    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Назва</th>
                <th>Кількість студентів</th>
                <th>Коментар</th>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(index, model) in tblCtrl.modelList|orderBy:'name'">
                <td>{{index + 1}}</td>
                <td>{{model.name}}</td>
                <td>{{model.students_count}}</td>
                <td>{{model.comment}}</td>
                <td>
                    <update-sub-group base-model="model"></update-sub-group>
                    <delete-sub-group base-model="model"></delete-sub-group>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>