<!-- Вказуємо назву контроллера, який буде опрацьовувати цей кусок сторінки -->
<div ng-controller="AuditoriesCtrl as ctrl">
   <div class="w3-container">
    <h1>
        Аудиторії
    </h1>

       <!--
       Ангуляр дозволяє створювати власні теги що називаються Директивами.
       Директиви дозволяють повторно використовувати код і ізолювати частину логіки.
       Назва Директиви і відповідного тегу залежні між собою.
       Директиві createAuditory відповідає тег create-auditory 
       -->
    <create-auditory></create-auditory>

    <div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Повна назва</th>
                <th>Максимальна кількість студентів</th>
                <th>Кафедра</th>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <!-- ng-repeat запускає цикл по масиву. Тег і весь його контент буде відбудовуватися динамічно в циклі. -->
            <tr ng-repeat="(index, model) in ctrl.modelList |orderBy:fullname">
                <td>{{index + 1}}</td>
                <td>{{model.fullname}}</td>
                <td>{{model.size}}</td>
                <td>{{model.getCathedralModel().short_name}}</td>
                <td>
                    <!-- Ще директиви для редагування і видалення аудиторій -->
                    <update-auditory base-model="model"></update-auditory>
                    <delete-auditory base-model="model"></delete-auditory>
                    <!-- ng-href -- ангулярівський аналог звичайного href, але безпечніший -->
                    <a ng-href="#!/auditories/{{model.id}}"
                       class="w3-button w3-light-gray w3-tiny w3-padding-small ">Перейти</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
 </div>
</div>
