<div ng-controller="AuditoriesViewCtrl as ctrl">
<div class="w3-container">
    <h1>
        <a href="#!/auditories">Аудиторії</a> > {{ctrl.model.fullname}}
    </h1>

    <div ng-if="ctrl.model">
        <update-auditory base-model="ctrl.model"></update-auditory>
        <delete-auditory base-model="ctrl.model" redirect-to="#!/auditories"></delete-auditory>

        <div>
            <table>
                <tr>
                    <th>Повна назва:</th>
                    <td>{{ctrl.model.fullname}}</td>
                </tr>
                <tr>
                    <th>Максимальна кількість студентів:</th>
                    <td>{{ctrl.model.size}}</td>
                </tr>

                <tr>
                    <th>Кафедра:</th>
                    <td ng-if="ctrl.model.cathedral_path">
                        <a ng-href="#!/cathedrals/{{ctrl.getCathedralModel().id}}">{{ctrl.model.getCathedralModel().full_name}}</a>
                    </td>
                    <td ng-if="!ctrl.model.cathedral_path"> --- Не вказана ---</td>
                </tr>
            </table>
        </div>

    </div>

</div>
</div>
